@import 'tailwindcss' important;

@layer base {
  /* Remove all minimum width and height constraints. */

  * {
    min-width: 0;
    border-color: var(--outline);
  }

  /* Balance text wrapping in headings when supported. */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  /* Balance text wrapping in paragraphs, list items, and figure captions when supported. */

  p,
  li,
  figcaption {
    text-wrap: pretty;
  }

  /* Prevent img, svg, and canvas elements from being flexible in a flex container. */

  img,
  svg,
  canvas {
    flex: 0 0 auto;
  }

  /* Remove search cancel button in search inputs on WebKit. */

  ::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  /* Indicate that the element is not interactive. */

  button[disabled],
  input[disabled] {
    cursor: not-allowed;
  }

  /* Inherit vertical alignment for table sections. */
  
  thead, tbody, tfoot {
    vertical-align: inherit;
  }

  /* Clearfix for body by default. */

  body {
    min-height: 100vh;

    &::before {
      content: '';
      display: table-cell;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  html {
    background-color: var(--surface-v2);
  }

  body {
    color: var(--on-surface);
    background: var(--surface);
  }
}

:root {
  --spacing: 0.25rem;

  --radius-inline: 0.5rem;
  --radius-block: 0.5rem;
}

@theme {
  --breakpoint-sm: 28rem; /* 448px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /*  1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
}

svg.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.35em;
}
:root {
  --default-radius: 0.5em;
  --site-logo-filter: invert(0);
  --blend-bg: var(--surface);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Spectral;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --fmenu-bg: rgba(255, 255, 255, 0.9);
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --fmenu-bg: rgba(26, 26, 26, 0.8);
  }
}

.light-mode {
  --fmenu-bg: rgba(26, 26, 26, 0.8);
}
.dark-mode {
  --fmenu-bg: rgba(26, 26, 26, 0.8);
}

.site-logo {
  filter: var(--site-logo-filter);
}

#fmenu {
  position: sticky;
  top: 0px;
  height: 64px;
  box-shadow: 0px 1px 15px rgba(128, 128, 128, 0.05);
  z-index: 9000;
  background: var(--fmenu-bg);
  backdrop-filter: saturate(50%) blur(8px);
  transition: transform ease 0.1s, opacity ease 0.1s !important;
}

/** landing page style **/

.csection {
  position: relative;
  min-height: 70vh;
  max-width: 1440px;
  margin: 0rem auto;
}

.sidemenu {
  width: var(--sidepanel-width);
  box-shadow: none;
  background-color: transparent !important;
  padding: 0.625rem;
}

#admenu {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 0.5rem;
  min-height: calc(100vh - 200px);
}

#navmenu {
  border-right: 1px solid var(--outline);
}

@media only screen and (max-width: 800px) {
  .sidemenu {
    display: none !important;
  }
}

.ad {
  box-shadow: 0px 0px 5px #aaa;
  padding: 10px;
  background-color: var(--surface);
}

#feed {
  max-width: var(--container-md);
  padding: 1.5rem 1em;
  margin: 0px auto;
}

.sp-wrapper {
  z-index: var(--z-level-1);
}
.sticky {
  position: sticky !important;
  will-change: transform;
}
.pinned {
  position: fixed !important;
  will-change: transform;
}

.p-h {
  & > .pinned {
    box-shadow: 0px 5px 10px 5px var(--surface);

    .p-h3 {
      font-size: 1.5rem !important;
      margin-top: 0.5rem;
    }
  }
  .p-h3 {
    transition: font-size 0.1s linear;
  }
}

.scrollpin {
  &:not(.is-stuck) .visible-on-stuck {
    display: none !important;
  }
  &.is-stuck {
    .hidden-on-stuck {
      display: none !important;
    }
    .p-h3 {
      font-size: 1.5rem !important;
    }
  }
  .p-h3 {
    transition: font-size 0.1s linear;
  }
}

.pin-top-blend {
  box-shadow: 0px 5px 10px 5px var(--blend-bg);
}
.pin-bottom-blend {
  box-shadow: 0px -5px 10px var(--blend-bg);
}

.p-f > .pinned {
  box-shadow: 0px -5px 10px var(--blend-bg);
}

.products-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min(14rem, 100%), 1fr));
  gap: 1rem;
  padding-bottom: 3rem;
  width: 100%;
}

.services-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min(34rem, 100%), 1fr));
  gap: 1rem;
  padding-bottom: 3rem;
  width: 100%;
}
